/********** Base styles **********/

* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin:  0px;
  padding: 0px;
  font-weight: bold;
  overflow: auto;
}
 body{
  font-size:16px;
 }

 header{
  text-align:center;
  font-size: 1.75em;
  font-weight: 800;
  margin-bottom: 40px;
  margin-top: 40px;
 }


/********** desktop version **********/
@media (min-width: 992px) {


 section.one{
  width:33.05%;
    float: left;
    background-color: grey;
    border: 1px solid black;
  
 }
 
section.two{
  width:33.05%;
    float: left;
     background-color: grey;
    border: 1px solid black;
   
 }
 section.three{
  width:33%;
    float: right;
     background-color: grey;
    border: 1px solid black;
 }
 
}

/********** tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {

section.one{
  width: 48%;
    float: left;
     background-color: grey;
    border: 1px solid black;
    margin-right: 2px;
 }
 
section.two{
  width: 48%;
    float: right;
     background-color: grey;
    border: 1px solid black;
 }
 section.three{
     background-color: grey;
     width:100%;
    border: 1px solid black;
  
 }

  }

/********** Mobile view **********/
@media (max-width: 767px) {

  section.one div{
    width: 100%;
     background-color: grey;
    border: 1px solid black;
  }

  section.two div{
    width: 100%;
     background-color: grey;
    border: 1px solid black;
  }
  section.three div{
    width: 100%;
     background-color: grey;
    border: 1px solid black;
  }
}

section{
  padding: 15px;
  height: 380px;
  margin: 1px;
}

#section-title1{
position: relative;
width: 30%;
text-align: center;
left: 70%;
color: black;
border: 1px solid black;
background: red;
}

p{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding: 20px;
clear: both;
text-align: justify;
}

#section-title2{
position: relative;
width: 30%;
text-align: center;
left: 70%;
color: black;
border: 1px solid black;
background: yellow;
width: max-content;
}

#section-title3{
position: relative;
width: 30%;
text-align: center;
left: 70%;
color: black;
border: 1px solid black;
background: aqua;
}