/********** Base styles **********/

* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin:  0px;
  padding: 0px;
  color: black;
  font-weight: bold;
  border-radius: auto;
  overflow: auto;
}
 body{
  font-size:16px;
 }

 header{
  text-align:center;
  font-size: 1.75em;
  font-weight: 800;
  margin-bottom: 40px;
  margin-top: 40px;
 }
 div{
  padding: 15px;
 }

 section {
  background-color: #D0D0DA;
  margin-bottom: 10px;
  border: 1px solid black;
  height: 180px;
 }

 #section-title2{
padding: 8px;
float: right;
width: max-content;
text-align: right;
border: 1px solid black;
background: yellow;
}

#section-title1{
position: relative;
width: 30%;
text-align: center;
left: 70%;
color: black;
border: 1px solid black;
background: red;
padding: 8px;
}


#section-title3{
position: relative;
width: 30%;
text-align: center;
left: 70%;
color: black;
border: 1px solid black;
background: aqua;
padding: 8px;
}

 #param{
  padding: 20px;
  clear: both;
  text-align: justify;
 }


/********** desktop version **********/
@media (min-width: 992px) {


 .col-lg-4, .col-lg-6, .col-lg-12{
    float: left;
  }
  .col-lg-4{
    width: 33.3%;
  }
  .col-lg-6{
    width: 50%;
  }
  .col-lg-12{
    width: 100%;
  }
 
}

/********** tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {


  .col-md-4, .col-md-6, .col-md-12{
    float: left;
  }
  .col-md-4{
    width: 33.3%;
  }
  .col-md-6{
    width: 50%;
  }
  .col-md-12{
    width: 100%;
  }

  }

/********** Mobile view **********/
@media (max-width: 767px) {

  .col-sm-4, .col-sm-6, .col-sm-12{
    float: left;
  }
  .col-sm-4{
    width: 33.3%;
  }
  .col-sm-6{
    width: 50%;
  }
  .col-sm-12{
    width: 100%;
  }
}


